$primary: #8a817c;
$secondary: #bcb8b1;
$light: #f4f3ee;
$warning: #e0afa0;
$dark: #463f3a;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  warning: $warning,
  light: $light,
  dark: $dark,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.App {
  color: #003249;
  font-family: "Urbanist", sans-serif;
}