@import "../App.scss";

.cartHeader {
  padding-left: 1em;
  padding-right: 1em;

  h2 {
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-align: center;
    color: #8a817c;
  }

  .cartHeaderDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;

    @include mobile {
      flex-direction: column;
      span {
        display: none;
      }
      button {
        margin-top: 0.5em;
      }
      
    }

    button {
      text-transform: uppercase;
    }
  }
}