.searchBar {
  input {
    border: none;
    border-radius: 20px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  span {
    border-radius: 20px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.shoppingCartContainer {
  position: relative;

  .badge {
    position: absolute;
    top: 1px;
    right: -1px;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: lightsalmon;
    text-align: center;
  }
}